
.status {
    font-size: 12px;
    text-align: center;
    background-color: white;
}

.input {
    width: 100%;
    box-sizing: border-box;
    line-height: 25px;
    margin: 5px 0;
}

.button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
}