
.entry_title {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    background-color: white;
}

.button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
}